<aside class="sidebar">
  <div class="avatar">
    <img src="{{ '/assets/images/avatar.jpg' | relative_url }}" alt="avatar" />
  </div>

  <div class="bio">
    <h1 class="name">Aayush <strong>Bhatta</strong></h1>
    <p class="position">Teaching Assistant<br><span class="org">DMAE, Pulchowk Campus</span></p>
    <p class="desc">Welcome! I am a teaching assistant at the Department of Mechanical and Aerospace Engineering... research: Structural Vibrations & Energy Harvesting.</p>
  </div>

  <div class="latest-posts">
    <h3>latest posts</h3>
    <ul>
      {% for post in site.posts limit:5 %}
        <li class="post-item">
          <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-tags">
    <h3>categories</h3>
    <ul>
      {% assign tags = site.tags | sort %}
      {% for tag in tags limit:10 %}
        <li><a href="{{ site.baseurl }}/tag/{{ tag[0] | slugify }}/">{{ tag[0] }} ({{ tag[1] | size }})</a></li>
      {% endfor %}
    </ul>
  </div>

</aside>
